@use '@angular/material' as mat;
@use './styles/octo-theme';
@use "sass:string";

@include mat.core();

@mixin theme($theme) {

  .octo-nav-header {
    background-color: mat.get-theme-color($theme, primary-container);
  }

  .octo-detail-toolbar {
    background-color: mat.get-theme-color($theme, secondary-container);
  }

  .primary-button {
    @include mat.button-color($theme, $color-variant: primary);
  }

  .secondary-button {
    @include mat.button-color($theme, $color-variant: secondary);
  }

  .mm-notification-bar-background {
    background-color: mat.get-theme-color($theme, error);

    span {
      color:black;
    }
  }

  .mm-notification-bar-button {
    background-color: red;
  }
}

html {
  //  // Apply the light theme by default
  //  @include mat.core-theme(octo-theme.$dark-theme);
  @include mat.all-component-themes(octo-theme.$dark-theme);
  //  @include mat.all-component-colors(octo-theme.$dark-theme);
  @include mat.system-level-colors(octo-theme.$dark-theme);
  @include mat.system-level-typography(octo-theme.$dark-theme);


  @include theme(octo-theme.$dark-theme);
}


/* for sidenav to take a whole page */
html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background-image: url("./assets/MM-Logo-Schrift-MNT.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;

  --bs-body-bg: var(--sys-background);
  --bs-body-color: #4d9685;
  --bs-link-color: #4d9685;
  --bs-link-color-rgb: 77, 150, 133;
  --bs-link-hover-color-rgb: 155, 165, 204;
}

body {

  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-sidenav-container {
      height: 100%;
    }
  }

  .mm-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      flex: 1;
      background-image: url("./assets/OctoMesh-BG-Web-MM.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    app-footer {
    }
  }
}

.mm-loading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
