<div style="text-align:center; margin-top:50px;">
  <button (click)="onNfc()">Start Scanning NFC Tag</button>
</div>

<div style="text-align:center; margin-top:50px;">
  <button (click)="stopNfc()">Stop NFC Scan</button>
</div>

<div style="margin-top: 20px; font-weight: bold;">
  {{ nfcStatus }}
</div>

<div *ngIf="nfcSerialNumber" style="margin-top: 10px;">
  <strong>Serial Number:</strong> {{ nfcSerialNumber }}
</div>

<div *ngIf="employeeNumber" style="margin-top: 10px;">
  <strong>Employee Number:</strong> {{ employeeNumber }}
</div>

<div *ngIf="nfcMessages.length > 0" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc;">
  <h3>Scanned NFC Messages:</h3>
  <ul>
    <li *ngFor="let msg of nfcMessages">{{ msg }}</li>
  </ul>
</div>


<!-- Toggle Mode -->
<label>
  <input type="checkbox" [(ngModel)]="useDialog" />
  Use Dialog
</label>

<!-- Start Button -->
<button (click)="scanQRCode()">Scan QR Code</button>


<!-- Inline Scanner (shown only if not using dialog) -->
<mat-card *ngIf="showScanner && !useDialog" class="scanner-card">
  <mm-qr-code-scanner (scanComplete)="onScanComplete($event)"></mm-qr-code-scanner>
</mat-card>


<!-- Result Display -->
<div style="margin-top: 1rem; font-weight: bold;"><strong>Scanner: </strong>{{ output }}</div>

<div *ngIf="decodedResult">
<div><strong>Location:</strong> {{ decodedResult.location }}</div>
<div><strong>Machine:</strong> {{ decodedResult.machineId }}</div>
</div>

<div *ngIf="message" [style.color]="decodedResult ? 'green' : 'red'">
  {{ message }}
</div>

