<div class="table-demo-container">
  <h1>Generic Table simple</h1>
  <!-- when making changes to lib components, you need to rebuild the lib and the app to see the changes, using "Invoke-BuildFrontend" command -->
  
  <mm-table-simple [sortColumn]="'name'" [items]="[{ name: 'test' }]" [columns]="[{ key: 'name', header: 'Name' }]"></mm-table-simple>
  
  <div class="divider"></div>
  <h1>Octo Table simple</h1>
  
  <!--simple example-->
  <mm-octo-table [dataSource]="mmOctoTableDataSource" [columns]="['id', 'name']" [currentId]="'ckEnumId'"> > </mm-octo-table>
  
  <div class="divider"></div>
  <h1>Octo Table advanced</h1>
  
  <p>Advanced example with special item access</p>
  <mm-octo-table
    [dataSource]="mmOctoTableAdvancedDataSource"
    [actionColumns]="[
      { actionId: 'edit', displayText: 'Edit', iconName: 'edit' },
      { actionId: 'delete', displayText: 'Delete', iconName: 'delete' }
    ]"
    [columns]="['ckTypeId', { dataKey: 'baseType.ckTypeId', displayName: 'FickiFacki' }, 'isAbstract', 'isFinal']"
    [currentId]="'id'"
  ></mm-octo-table>
  
  <div class="divider"></div>
  <h1>Octo Table with Virtual Columns</h1>
  
  <mm-octo-table
    [dataSource]="mmOctoTableVirtualDataSource"
    [columns]="[
      { dataKey: 'customerDisplay', displayName: 'Customer', templateName: 'customerDisplay' },
      { dataKey: 'status', displayName: 'Status', templateName: 'statusDisplay' }
    ]"
    [currentId]="'id'"
  >
    <ng-template #customerDisplay let-element>
      @if (element.companyName) {
      {{ element.companyName }}
      } @else {
      {{ element.customerFirstName }} {{ element.customerLastName }}
      }
    </ng-template>
    <ng-template #statusDisplay let-element>
      @switch (element.status) { @case ('ACTIVE') {
      <mat-icon class="material-symbols-outlined" style="color: green">check_circle</mat-icon>
      } @case ('PENDING') {
      <mat-icon class="material-symbols-outlined" style="color: orange">pending</mat-icon>
      } @case ('INACTIVE') {
      <mat-icon class="material-symbols-outlined" style="color: red">cancel</mat-icon>
      } }
    </ng-template>
  </mm-octo-table>
</div>