<mm-list-view
  mmEntityListDataSource
  [columns]="columns()"
  [sortable]="true"
  [rowFilterEnabled]="true"
  [searchTextBoxEnabled]="true"
  [autoPageSize]="true"
  [selectable]="{ mode: 'single', enabled: true }"
  [showRowCheckBoxes]="false"
  [actionsColumnWidth]="80"
  [actionCommandItems]="actionItems()"
  [contextMenuCommandItems]="contextMenuItems()"
  [leftToolbarActions]="toolbarItems()"
  [listStateKey]="listStateKey()"
  [messages]="listViewMessages()"
  (rowClicked)="onRowClicked($event)"
>
</mm-list-view>
